<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"verticalAlignment":"stretch","width":"15%"} -->
<div class="wp-block-column is-vertically-aligned-stretch" style="flex-basis:15%"></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"65%","layout":{"type":"constrained"}} -->
<div class="wp-block-column is-vertically-aligned-center" style="flex-basis:65%"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"5px","left":"5px","top":"5px","bottom":"5px"}}},"backgroundColor":"custom-beige","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-custom-beige-background-color has-background" style="padding-top:5px;padding-right:5px;padding-bottom:5px;padding-left:5px"><!-- wp:post-title {"isLink":true} /-->

<!-- wp:post-featured-image {"aspectRatio":"16/9","align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","right":"var:preset|spacing|20"}},"color":[]}} /-->

<!-- wp:post-content /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"15%","style":{"spacing":{"padding":{"right":"0"}}}} -->
<div class="wp-block-column" style="padding-right:0;flex-basis:15%"></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->